@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&display=swap');

*{
    font-family: "Oswald", sans-serif;
margin: 0;

}
body{



}
.header{
background-color: blue;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 50px;
}
.header-link a{
    text-decoration: none;
    color: rgb(255, 0, 0);
padding: 0 15px;
border-radius: 15px;
}
.header-link a:hover{
background-color: #2386fe;
}
.header-link button{
    background-color: #ee626b;
    color: white;
    border: none;
    padding: 5px 15px ;
    border-radius: 15px;
}
.header-link button:hover{
    background-color: #2386fe;
}